/*************************Header w/ the Logo**********************************/
body {
    background-color: white;
    margin: 0%;
  }
  
  h1 {
    background-color: #add8e6;
    text-align: left;
    margin: 0%;
  }

  #headerSeparator {
    height: 3vh;
    width: auto;
    background-color: lightgray;
  }

/**************************Navigation Bar**********************************/

  #mainNavigationBar {
    list-style-type: none;
    display: inline-block;
    margin-left: 37%;
  }

  li {
    display: inline;
    padding: 1vw;
  }

  a { 
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
  }

  a:hover {
    color: orange;
    transition: all .2s linear;
    transform: translateY(-1vw);
  }

/*************************Intro heading and Text*****************************/

  #introHeadingAndText {
    padding: 1%;
    padding-top: 0%;
  }

/***********************Footer**********************************************/

  footer {
    background-color: black;
    color: white;
    padding-left: 3%;
    padding-top: 0.10%;
    padding-bottom: 1%;
    line-height: 0%;
  }
  
/**************************Image Gallery***********************************/

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1%;
    grid-gap: 1%;
  }
  
  .profileBlock {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0.10vw solid rgba(0, 0, 0, 0.8);
    padding: 3%;
  }

  .profileBlock:hover {
    background-color: black;
    transition: all 1.5s ease;
    color: white;
  }



  